.head-box {
    display: flex;
    height: 56px;
    margin: 0px 0px 20px 0px;
    border-bottom: 1px solid #dedede;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    background-color: white;
    z-index: 100;
}
.left-sid {
    width: 162px;
    height: 24px;
    display: flex;
    align-items: center;
}
.hamburger-menu{
    width: 24px;
    height: 24px;
    margin-left: 24px;
    margin-right: 24px;
    cursor: pointer;
}
.youtube-logo {
    width: 90px;
    height: 20px;
    cursor: pointer;
}
.midil-sec {
    align-items: center;
    max-width: 470px;
    height: 40px;
    flex: 1;
    margin-left: 60px;
    display: flex;
}
.search-box {
    height: 40px;
    flex: 1;
    border: 1px solid #cccccc;
    box-sizing: border-box;
    padding: 1px 2px 1px 12px;
    box-shadow: #eeeeee 0px 1px 2px 0px inset;
    font-size: 16px;
    font-family: Roboto, arial, sans-serif;
}
.search-button {
    height: 40px;
    width: 64px;
    display: flex;
    align-items: center;
    background-color: rgb(247, 247, 247);
    border: 1px solid #cccccc;
    border-left: none;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    padding: 1px 6px 1px 6px;
    cursor: pointer;
    margin-right: 8px;
    box-sizing: border-box;
    justify-content: center;
}
.search-icon {
    height: 24px;
    width: 24px;
}
.search-button:hover {
    background-color: rgba(240,240,240,1);
}
.labls {
    position: absolute;
    bottom: -50px;
    padding: 8px;
    font-size: 12px;
    color: white;
    background-color: rgba(96, 96, 96);
    opacity: 0;
    font-size: 12px;
    font-family: arial;
    transition: opacity 0.15s;
    z-index: 1080;
    white-space: nowrap;
}
#buttons {
    display: flex;
    position: relative;
    justify-content: center;
}
#buttons:hover .labls {
    opacity: 1;
    z-index: 1080;
}
.microfon-button {
    width: 40px;
    height: 40px;
    display: flex;
    border: none;
    padding: 1px 6px 1px 6px;
    background: #efefef;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    box-sizing: border-box;
}
.microfon-img {
    width: 24px;
    height: 24px;
    align-items: center;
}
.right-sid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 182px;
    box-sizing: border-box;
    align-items: center;
    margin: 0px 24px 0px 29px;
    flex-shrink: 0;
    position: relative;
}
.just-pic-contanr {
    display: flex;
    width: 24px;
    height: 24px;
    cursor: pointer;
    position: relative;
}
.icon {
    width: 24px;
    height: 24px;
}
.notifications-countr {
    position: absolute;
    background-color: #cc0000;
    top: -3px;
    right: -7px;
    padding: 0px 5px 0px 5px;
    border-radius: 10px;
    border: 2px solid white;
    font-size: 10px;
    color: white;
}
.myprofil {
    width: 32px;
    height: 32px;
    border-radius: 30px;
}
.leftsid-sec {
    display: flex;
    width: 72px;
    position: fixed;
    flex-direction: column;
    top: 56px;
    bottom: 0px;
    left: 0px;
    background-color: white;
    padding-top: 5px;
}
.leftsid-link {
    display: flex;
    height: 74px;
    width: 72px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    font-size: 10px;
    font-family: Roboto, arial, sans-serif;
}
.leftsid-link img {
    width: 24px;
    height: 24px;
    margin: 0px 0px 5px 0px;
    vertical-align: middle;
}
.leftsid-link:hover {
    background-color: #eeeeee;
}
.main-section {
    display: grid;
    grid-template-columns:  1fr 1fr 1fr 1fr;
    padding: 20px 20px 20px 20px;
    column-gap: 8px;
    row-gap: 16px;
    box-sizing: border-box;
    position: relative;
    z-index: 0;
}
@media (max-width:875px) {
    .main-section {
        grid-template-columns: 1fr 1fr;
    }
}
@media (min-width:876px) and (max-width:1125px) {
    .main-section {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media (min-width:1126px) {
    .main-section {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
.video-preview {
    width: 337.8px;
    height: 301.538px;
    padding: 4px 4px 4px 4px;
    display: inline-block;
    z-index: 0;
}
.thump-box {
    width: 337.8px;
    height: 189.538px;
    position: relative;
    z-index: 0;
}
.thump-pic {
    width: 100%;
    height: 189.538px;
    position: relative;
    z-index: 0;
}
.video-timer {
    position: absolute;
    right: 4px;
    bottom: 7px;
    padding: 2px 4px 2px 4px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    font-size: 12px;
    border-radius: 2px;
    font-weight: 500;
    font-family: Roboto, arial, sans-serif;
}
.video-inf {
   display: grid;
   grid-template-columns: 48px 1fr;

}
.profil-pic-box {
    width: 48px;
    height: 112px;
}
.profil-pic {
    width: 36px;
    height: 36px;
    border-radius: 36px;
    margin: 12px 0px 0px 0px;
}
.video-titl-section {
    width: 289.8px;
    height: 112px;
}
.video-titl {
    font-size: 14px;
    margin: 12px 0px 0px 0px;
    font-weight: 505;
    text-decoration-style: solid;
}
.chanll-name {
    font-size: 12px;
    margin: 8px 0px 0px 0px;
    color: rgb(96, 96, 96);
}
.video-views {
    font-size: 12px;
    margin: 0px 0px 16px 0px;
    color: rgb(96, 96, 96);
}